<div align="center" style="opacity:0.9;height:75%;width:40%;background-color: azure;float:left;margin-left: 30%;margin-top: 4%" >
  <img src="../../assets/logo.png" style="width:70%;height: 30%;margin-top: 10px;margin-left: 2%">
  <input class="form-control" type="text" style="border-radius:0px;width: 80%;height: 8%;margin-left:5%;margin-top: 4%;" placeholder="Email Address or Phone Number">
  <input class="form-control" type="text" style="border-radius:0px;width: 80%;height: 8%;margin-left:5%;margin-top: 4%;" placeholder="Password">
  <button class="btn btn-primary" type="submit" style="width: 81%;height: 10%;margin-left:5%;margin-top: 4%;margin-bottom: 2%;">Sign In</button>
  <a href="" style="color: deepskyblue;margin-left:5%;margin-bottom:2%;text-underline:no">Forgot Password?</a><br>
  <label style="font-size: small;float: left;margin-left: 38%">Not a Member?</label>
  <a href="" style="color: deepskyblue;float:left;margin-left:1%;text-decoration: no-underline;font-size: small">Join Now</a><br>
</div>



