<div style="height: 70px;width: 100%;background-color:black;">
  <img src="../../assets/footer.PNG" style="float:left;margin-left: 100px;width:120px;height:30px;">
  <a href="" style="margin-left: 20px;margin-top: 20px;color:azure">User Agreement</a>
  <a href="" style="margin-left: 20px;margin-top: 9px;color:azure">Privacy Policy</a>
  <a href="" style="margin-left: 20px;margin-top: 9px;color:azure">Community Guidelines</a>
  <a href="" style="margin-left: 20px;margin-top: 9px;color:azure">Cookie Policy</a>
  <a href="" style="margin-left: 20px;margin-top: 9px;color:azure">Copyright Policy</a>
  <a href="" style="margin-left: 20px;margin-top: 9px;color:azure">Unsubscribe</a>
</div>





